<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PBL3_1._0_.Properties.Settings.LogInConnectionString"
            connectionString="Data Source=LAPTOP-873V4A2C\SQLEXPRESS;Initial Catalog=LogIn;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>